dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="28a86bf9-41b2-4fbb-bd69-388eada7c64c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="f80495f7-0ced-466c-ab6d-f31e79b204ba" >
		<http:listener doc:name="Listener" doc:id="5382b0d0-8b9c-4790-a816-41f55658b9c8" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["hello world"]' doc:name="Set Payload" doc:id="071c9389-69a9-41b2-9a63-a8ca0a56e3dd" />
	</flow>
</mule>
